@media (max-width: 650px)
{
    #nav-bar
    {
        font-size: smaller;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #nav-bar ul 
    {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    ul li
    {
        width: fit-content;
        margin: 20px;
    }
}

body
{
    background-color: rgb(242, 236, 255); 
    color: rgba(0, 0, 0, 0.842);
    font-family: 'Lato', sans-serif;
}

#header
{
    border:none;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
    background-color: inherit;
}

.logo
{
    display: block;
    border: none;
    width: fit-content;
    height: fit-content;
}

#nav-bar
{
    display: inline-block;
    position: relative;
    margin-left: 43%;
    border: none;
    width: fit-content;
}
#nav-bar ul 
{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    border: none;
    padding: 0;
}
ul li{display: inline;}

.nav-link{text-decoration: none; text-align: center; width: fit-content;color: rgb(0, 0, 0);}
a:hover{color: rgb(255, 123, 0);}/*end of header style*/

#form
{
    display: block;
    border: none;
    width: fit-content;
    height: auto;
    margin: auto;
    margin-bottom: 30px;;
}

#form-text
{
    display: block;
    margin: 20px;
    text-align: center;
    font-size: 25px ;
    font-weight: bold;
}

#email
{
    display: block;
    width: 70%;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: none;
    outline: none;
}

#submit
{
    padding: 10px;
    background-color: rgb(255, 196, 0);
    border: none;
    border-radius: 5px;
    outline: none;
    font-weight: 100;
}
#submit:hover{background-color: rgb(255, 102, 0);}
#form div{width: fit-content;  margin: 10px auto 0 auto; border:none; height: auto; font-weight: bolder!important;}
::placeholder{color: rgb(0, 0, 0);}/*end of form style*/

#features
{
    border: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.features-blocks
{
    display: block;
    width: 25%;
    height:100%;
    border:none;
    margin: auto;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 5px black;
}
.features-blocks h2{height: fit-content; padding: 0; width: fit-content; border-bottom: solid black 2px; margin: auto; }
.features-blocks p{width: 100%; border:none}/*end of features style*/

#how-it-works
{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px black;
}
#how-it-works:hover{box-shadow: 0px 0px 10px rgb(255, 136, 0);}
#video{width: 700px; height: 400px; }/*end of how it works style*/

#pricing
{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
}

#pricing-contain
{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: inherit;
}

.product
{
    display: block;
    border: none;
    margin: 10px;
    width: fit-content;
    font-size: larger;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
}
.product *{margin:20px auto 0px auto;}
.level
{
    background-color: rgb(223, 222, 222);
    width: 300px;
    border:none;
    margin: auto;
    text-align: center;
    font-weight:bold;
    font-size: medium!important;
    font-variant:normal;
    text-transform: uppercase;
    padding: 12px;
}
ol{list-style-type: none; margin:auto; padding: 0; border: none;}

ol li{width: fit-content; font-size: small; font-weight: bold;}

.product h2, ol{width: fit-content; font-size: large;}

.button
{ 
    background-color: rgb(255, 238, 0);
    border:none;
    outline: none; 
    display: block; 
    margin: auto;
    width: 90px;
    font-size: medium;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    margin:15px auto;
}
.button:hover{background-color: rgb(255, 145, 1);}
